.notas-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
  
  .notas-table th,
  .notas-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .notas-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  