.bg-image {
  background-image: url('https://img.freepik.com/foto-gratis/hombre-espacio-copia-dispositivo-futurista_23-2148864987.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

