.calendar {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin: 100px auto 0; 
    max-width: 1000px;
    padding: 30px;
  }


  .calendar__heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .calendar__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calendar__nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .calendar__current-date {
    font-size: 16px;
    font-weight: bold;
  }
  
  .calendar__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar__day {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .calendar__day.current-month {
    background-color: #f0f0f0;
  }
  
  .calendar__day.other-month {
    color: #ccc;
  }
  .small-image {
    max-width: 100%;
    height: auto;
  }