
  .docente__imagen {
    width: 200px;
    height: 200px;
  }
  
  .docente__info {
    margin-top: 20px;
    text-align: center;
  }
  .docente__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }