.temario {
  font-family: Arial, sans-serif;
  width: 800px; /* Ajusta el ancho según tus necesidades */
  margin: 100px auto 0; /* Ajusta el margen superior según tus necesidades */
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 40px; /* Ajusta el padding según tus necesidades */
}

.temario__heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.temario__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.temario__button {
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.temario__button.active {
  background-color: #333;
  color: #fff;
}

.temario__contenido {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
