.temario {
  background-color:rgb(133, 226, 243);
  padding: 20px;
}
body {
  background-color: rgb(133, 226, 243);
}
.temario__heading {
  color: black;
  text-align: center;
}

.temario__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.temario__button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.temario__button.active {
  background-color: gray;
  color: white;
}


.temario__table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.temario__table th,
.temario__table td {
  padding: 10px;
  border: 1px solid black;
}

.temario__table th {
  background-color: lightgray;
}

.temario__temas {
  list-style-type: none;
  padding: 0;
}

.temario__temas li {
  margin-bottom: 5px;
}
