/* nota.css */
.notas-table {
  width: 100%;
}

.notas-table th,
.notas-table td {
  padding: 10px;
}

.notas-table th {
  text-align: left;
}

.notas-table tbody tr:nth-child(even) {
  background-color: #cde6ed;
}

.notas-table tbody tr:hover {
  background-color: #319af5;
}
.notas-table{
  background-color: #8fc0ea88;
}
