.temario {
  padding: 20px;
}

.temario__heading {
  color: black;
  text-align: center;
}

.temario__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.temario__button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #b98e78;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.temario__button.active {
  background-color: #8a65657f;
}

.temario__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.temario__table th,
.temario__table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.temario__table th {
  background-color: #7296e9;
}

.temario__table a {
  color: blue;
  text-decoration: underline;
}
